.style-container {
    display: flex;
}

.style-container-reverse {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-top: 20px;
}


.type-container {
    display: flex;

    min-width: 160px;
    max-width: 160px;
    height: 80px;
    
    border-radius: 10px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;    
    font-weight: 900;

    box-shadow: 0px 4px 4px #2A2E31;
}

.edit-button {
    display: flex;

    min-width: 40px;
    max-height: 80px;
    border-radius: 10px;

    margin-right: 16px;
    margin-left: 16px;

    align-items: center;
    justify-content: center;

    background-color: #222222;
    
}


.profile-container {
    display: flex;

    margin-top: 16px;
    margin-left: 20px;

    width: 70px;

    
    flex-direction: column;

}
.profile-nametag {
    display: flex;

    font-family: 'Open Sans';
    font-size: 16px;
    color: #233329;
    font-weight: 700;

    align-items: center;
    justify-content: center;
}

.return-button {
    margin: 14px;
    background-color: #52A352;
    color: white;
    width: 360px;
    height: 80px;

    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    
    box-shadow: 0px 4px 4px #F3AA45;
}

.contact-title {
    display: flex;

    font-size: 22px;
    width: 330px;
    
    align-items: center;
    justify-content: center;
}

.overlay-container {
    display: flex;
    background-color: #233329;
    
    border-radius: 10px;
    
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.overlay-title {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: #FFFFFF;
    font-family: 'Outfit';
    font-size: 24px;    
    font-weight: 700;
}

.overlay-box {
    display: flex;

    margin-top: 30px;
    
    border-radius: 10px;
    width: 240px;
    height: 70px;

    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 22px;
}